* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.table {
  background-color: #afaeae68;
  padding: 15px;
  border-radius: 10px;
  border-collapse: separate;
}

tbody tr td {
  padding: 0 15px;
  border: 0.5px solid #afaeae68;
}

@media (max-width: 768px) {
  .main {
    margin: 15px auto;
    padding: 5px;
    font-size: 12px;
  }

  .table {
    padding: 5px;
  }

  tbody tr td {
    padding: 0 5px;
  }
}
